{% extends 'base.html' %}
{% block title %}First Aid {% endblock %}
{% block content %}
<head> 
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">


 <style>
.lead2{
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  text-decoration:justify;
  font-size: 20px;
}

.jumbotron{
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  border: solid black 3px;
  margin-top: 30px;
  margin-bottom:30px;
  padding-bottom:20px;
  border-radius:60px;
  box-shadow: 20px;
}


 </style>
</head>

<body>

<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);">
  <h1 class="display-4"><strong>First Aid</strong></h1>
  <p class="lead2">It is important to always check the scene and ensure your safety first. Remember that dialling emergency number for ambulance and other related services is one of the most important steps you can take to save another's life.</p>
    <p class="lead">
    {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
  </p>
</div>


<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);">
  <h1 class="display-4"><strong>CPR</strong></h1>
  <p class="lead2"><strong>How to give CPR?</strong><br><br>

If you're a paramedic student or aspiring to be one, then CPR is one of your important areas that you must have a good grip. Performing CPR during an emergency can be a challenge even for a trained person. Therefore, you must make sure to remember and administer Cardiopulmonary Resuscitation steps correctly.<br>

Things to keep in mind before performing CPR <br>
Approach the patient safely. Don't take any unnecessary danger to yourself <br>
Check for the response by tapping the shoulders and asking loudly whether he or she is fine <br>
Ask someone to call the Ambulance <br>
Check for the presence of pulse in the neck for 5-10 seconds. Simultaneously, look for chest rise and fall <br>
If no pulse and breathing is found, start CPR (Cardiopulmonary Resuscitation) <br><br>
<strong>A simple step-by-step guide for CPR - </strong><br><br>
Steps	Actions: <br>
Step 1: To perform CPR, keep your arms straight and cover the first hand with the heel of your other hand. Interlock the fingers of both hands together and keep them raised so that they do not touch the patient’s chest.<br>
Step 2: Lean forward and make sure that your shoulders are directly above the patient's chest.<br>
Step 3: Press down on the chest about 2- 2.4 inches and release the pressure (let the chest come back up).<br>
Step 4: At the rate of 100-120 compressions per minute, give 30 compressions<br>
Step 5: Then tilt the head and lift the chin to open the airway and let the mouth fall open slightly.<br>
Step 6: Pinch the nose to shut it and take a normal breath and give mouth to mouth blow to the patient. Blow until you see the patient's chest rise<br>
Step 7: Watch the patient's chest fall and then repeat mouth to mouth breath again. Give a total of 2 breaths after 30 compressions.<br>
Step 8: Repeat the 30 chest compressions followed by two rescue breaths. Continue the cycle until the patient starts breathing again.<br></p>
      {% comment %} <a class="btn btn-primary btn-lg" href="https://youtu.be/1lwRQTGzKcw" role="button">Learn more</a> {% endcomment %}
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/1lwRQTGzKcw">
    </iframe>
</div>


<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);">
  <h1 class="display-4"> <strong>Anaphylactic shock</strong></h1>
  <p class="lead2">Anaphylaxis (or anaphylactic shock) is a severe allergic reaction that can occur after an insect sting or after eating certain foods. The adverse reaction can be very fast, occurring within seconds or minutes of coming into contact with the substance the person is allergic to (allergen).<br><br>
During anaphylactic shock, it may be difficult for the person to breathe, as their tongue and throat may swell, obstructing their airway.<br>

Phone 999 or 112 immediately if you think someone is experiencing anaphylactic shock.<br>
Check if the person is carrying any medication. Some people who know they have severe allergies may carry an adrenaline self-injector, which is a type of pre-loaded syringe. You can either help the person administer their medication or, if you're trained to do so, give it to them yourself.<br><br>

After the injection, continue to look after the person until medical help arrives. All casualties who have had an intramuscular or subcutaneous (under the skin) injection of adrenaline must be seen and medically checked by a healthcare professional as soon as possible after the injection has been given.<br>

Make sure they're comfortable and can breathe as best they can while waiting for medical help to arrive. If they're conscious, sitting upright is normally the best position for them.<br>

</p>
  {% comment %} <a class="btn btn-primary btn-lg" href="https://youtu.be/ycl5w9w0XFc" role="button">Learn more</a> {% endcomment %}
  <iframe width="560" height="315"
      src="https://www.youtube.com/embed/ycl5w9w0XFc">
    </iframe>
</div>


<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);">
  <h1 class="display-4"><strong>Bleeding</strong></h1>
  <p class="lead2">If someone is bleeding heavily, the main aim is to prevent further blood loss and minimise the effects of shock.<br>
  First, phone 999 and ask for an ambulance as soon as possible.<br>

  If you have disposable gloves, use them to reduce the risk of any infection being passed on.<br>

  Check that there's nothing embedded in the wound. If there is, take care not to press down on the object.<br>

  Instead, press firmly on either side of the object and build up padding around it before bandaging, to avoid putting pressure on the object itself.<br><br>

  <strong>If nothing is embedded:</strong><br>
  apply and maintain pressure to the wound with your gloved hand, using a clean pad or dressing if possible; continue to apply pressure until the bleeding stops 
use a clean dressing to bandage the wound firmly<br>
If bleeding continues through the pad, apply pressure to the wound  until the bleeding stops and then apply another pad over the top and bandage it in place; don't remove the original pad or dressing, but continue to check that the bleeding has stopped.<br>
If a body part, such as a finger, has been severed, place it in a plastic bag or wrap it in cling film and make sure it goes with the casualty to hospital.<br>

Always seek medical help for bleeding unless it's minor.<br>

If someone has a nosebleed that hasn't stopped after 20 minutes, go to your nearest accident and emergency (A&E) department.<br></p>
    {% comment %} <a class="btn btn-primary btn-lg" href="https://youtu.be/NxO5LvgqZe0" role="button">Learn more</a> {% endcomment %}
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/NxO5LvgqZe0">
    </iframe>
</div>


<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);">
  <h1 class="display-4"><strong>Burns and scalds</strong></h1>
  <p class="lead2"><strong>If someone has a burn or scald:</strong><br>
  Cool the burn as quickly as possible with cool running water for at least 10 minutes, or until the pain is relieved.<br>
Phone 999 or seek medical help, if needed<br>
While cooling the burn, carefully remove any clothing or jewellery, unless it's attached to the skin<br>
If you're cooling a large burnt area, particularly in babies, children and elderly people, be aware that it may cause hypothermia (it may be necessary to stop cooling the burn to avoid hypothermia)
cover the burn loosely with cling film; if cling film isn't available, use a clean, dry dressing or non-fluffy material; don't wrap the burn tightly, because swelling may lead to further injury
don't apply creams, lotions or sprays to the burn<br><br>
<strong>For chemical burns:</strong><br>
Wear protective gloves, remove any affected clothing, and rinse the burn with cool running water for at least 20 minutes to wash out the chemical. If possible, determine the cause of the injury.<br>
In certain situations where a chemical is regularly handled, a specific chemical antidote may be available to use.<br>
Be careful not to contaminate and injure yourself with the chemical, and wear protective clothing if necessary.<br>
Phone 999 or 112 for immediate medical help.<br>

  </p>
   {% comment %} <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=B51VgoEZcDs" role="button">Learn more</a> {% endcomment %}
     <iframe width="560" height="315"
      src="https://www.youtube.com/embed/B51VgoEZcDs">
    </iframe>
</div>


<div class="jumbotron" style="background-image: url(/static/images/firstaid.png);" >
  <h1 class="display-4" ><strong>Electric shock</strong> (domestic)</h1>
  <p class="lead2">If someone has had an electric shock, switch off the electrical current at the mains to break the contact between the person and the electrical supply.<br><br>

<strong>If you can't reach the mains supply:</strong><br>

don't go near or touch the person until you're sure the electrical supply has been switched off  <br>
Once the power supply has been switched off, and if the person isn't breathing, phone 999 or 112 for an ambulance <br>
</p>
    {% comment %} <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=luTRnCoeD4c " role="button">Learn more</a> {% endcomment %}
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/luTRnCoeD4c">
    </iframe>
</div>
{% endblock %}